.description:focus + .labelek:after{
    color: #43A4DC;
    font-size: 30px;
    top: -50px;

    
}
.description:not(:placeholder-shown) + .labelek:after{
    color: #43A4DC;
    font-size: 30px;
    top: -50px;
}


.MailInputChange:focus + .LabelInputChange {
    color: #43A4DC;
    font-size: 20px;
    top: -30px;
    left: 0;
}

.MailInputChange:not(:placeholder-shown) + .LabelInputChange {
    color: #43A4DC;
    font-size: 20px;
    top: -30px;
    left: 0;
}



@media only screen and (max-width: 920px) {
    .description:focus + .labelek:after{
        color: #43A4DC;
        font-size: 20px;
        top: -40px;       
    }
    .description:not(:placeholder-shown) + .labelek:after{
        color: #43A4DC;
        font-size: 20px;
        top: -40px;
    }
    .MailInputChange:focus + .LabelInputChange {
        color: #43A4DC;
        font-size: 20px;
        top: -30px;
        left: 10%;
    }
    
    .MailInputChange:not(:placeholder-shown) + .LabelInputChange {
        color: #43A4DC;
        font-size: 20px;
        top: -30px;
        left: 10%;
    }
}